<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link rel="stylesheet" href="__PUBLIC__/wap/css/Style.css"/>
<script src="__PUBLIC__/wap/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/wap/js/TouchSlide.1.0.js"></script>
<script src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
<!--
//平台、设备和操作系统
var system ={
	win : false,
	mac : false,
	xll : false
};
//检测平台
var p = navigator.platform;
system.win = p.indexOf("Win") == 0;
system.mac = p.indexOf("Mac") == 0;
system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
//跳转语句
if(system.win||system.mac||system.xll){window.location.href="<if condition='ACTION_NAME eq index'>{:U('/Index/'.CONTROLLER_NAME.'/'.ACTION_NAME,array('id'=>$cid))}<else />{:U('/Index/'.CONTROLLER_NAME.'/'.ACTION_NAME,array('id'=>$sid))}</if>";}
-->
</script>
</head>
<!--header-->
<div class="header">
	<div class="top">
		
		<a href="/index.php/wap/"><img src="__PUBLIC__/wap/images/logo.png" class="logo"/></a>
		<a class="top_nav" href="javascript:;"><img src="__PUBLIC__/wap/images/nav.png" /></a>
	</div>
	<div class="nav" >
		<a href="javascript:;" class="close"></a>
		<div class="list">
			<ul style="padding-top:5px;">
				<li><a href="/index.php/wap/">网站首页</a></li>
				<navi limit="20" order="id ASC">
				<li><a href="{$url}">{$name}</a></li>
				</navi>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	$('.top').find('.top_nav').click(function(){
		$('.nav').animate({right: 0}, 200);
		})
	$('.nav').find('.close').click(function(){
		$('.nav').animate({right: '-100%'}, 200);
		})	
	</script>
</div>
<!--header end-->
<div class="clear" style="height:58px;"></div>
{:W('Bann/banner')}