<p class="corpyt">湖北安吉旅游客运集团版权所有<br>技术支持：<a href="http://www.dpwl.net" target="_blank">湖北大鹏网络科技</a></p>
<div class="h75"></div>
<!--footer-->
<footer>
	<div class="bottom3">
		<a <if condition="CONTROLLER_NAME eq 'Index'">class="hover"</if> href="{:U('Index/index')}"><em><img <if condition="CONTROLLER_NAME eq 'Index'">src="__PUBLIC__/images/rhome.png"<else />src="__PUBLIC__/images/home.png"</if>></em>首页</a>
		<a <if condition="CONTROLLER_NAME eq 'Goods'">class="hover"</if> href="{:U('Goods/index')}"><em><img <if condition="CONTROLLER_NAME eq 'Goods'">src="__PUBLIC__/images/rcar.png"<else />src="__PUBLIC__/images/car.png"</if>></em>订车</a>
		<a href="tel:<com name='tel' />"><em><img src="__PUBLIC__/images/kf.png"></em>客服</a>
		<a <if condition="CONTROLLER_NAME eq 'User'">class="hover"</if> href="{:U('User/index')}"><em><img <if condition="CONTROLLER_NAME eq 'User'">src="__PUBLIC__/images/ruser.png"<else />src="__PUBLIC__/images/user.png"</if>></em>我的</a>
	</div>
</footer>
<!--footer end-->