<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link rel="stylesheet" href="__PUBLIC__/css/Style.css"/>
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/TouchSlide.1.0.js"></script>
<script src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>  
<script>  
    wx.config({  
        debug: false, // 是否开启调试模式  
        appId: '{$wxconfig.appId}', // 必填，微信号AppID  
        timestamp: {$wxconfig.timestamp}, // 必填，生成签名的时间戳  
        nonceStr: '{$wxconfig.nonceStr}', // 必填，生成签名的随机串  
        signature: '{$wxconfig.signature}',// 必填，签名，见附录1  
        jsApiList: ['onMenuShareTimeline', //分享到朋友圈  
        'onMenuShareAppMessage', //分享给朋友  
        'onMenuShareQQ' //分享到QQ  
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2  
    });  
  
    wx.ready(function(){  
        var options = {  
            title: '{$title}', // 分享标题  
            link: '{:_URL_}__SELF__', // 分享链接，记得使用绝对路径，不能用document.URL
            imgUrl: '{:_URL_}__PUBLIC__/images/logo.jpg', // 分享图标，记得使用绝对路径  
            desc: '{$description}', // 分享描述  
            success: function () {  
                console.info('分享成功！');  
                // 用户确认分享后执行的回调函数  
            },  
            cancel: function () {  
                console.info('取消分享！');  
                // 用户取消分享后执行的回调函数  
            }  
        }  
        wx.onMenuShareTimeline(options); // 分享到朋友圈  
        wx.onMenuShareAppMessage(options); // 分享给朋友  
        wx.onMenuShareQQ(options); // 分享到QQ  
    });  
</script>
</head>
<body>
<if condition="CONTROLLER_NAME eq 'Index'">
<header>
    <a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo.png">孝客集团安吉旅游</a>
</header>
<div class="clear h50"></div>
</if>