<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加车辆</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/css/diy.css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$action}车辆</h5> 
                        <div class="gohome">
                        <a class="animated bounceInUp" href="{:U('Car/index')}" title="返回"><i class="fa fa-mail-reply-all"></i></a>
                        </div>                 
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:U('Car/runaddcar')}" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车牌号</label>

                                <div class="col-sm-4">
                                    <input type="text" name="carnum" class="form-control" value="{$v.carnum}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车辆编号</label>

                                <div class="col-sm-4">
                                    <input type="text" name="carid" class="form-control" value="{$v.carid}">
                                </div>
                            </div>                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车型</label>
                                <div class="col-sm-4">
                                <select class="form-control m-b" name="type">
                                <foreach name="class" item="c">
                                    <option <if condition="$v['type'] eq $c['id']">selected</if> value="{$c.id}">{$c.classname}</option>
                                </foreach>                                   
                                </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">司机姓名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="driver" id="name" value="{$v.driver}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">司机电话</label>
                                <div class="col-sm-4">
                                    <input type="text" name="tel" class="form-control" id="tel" value="{$v.tel}">
                                     <input type="hidden" name="id" value="{$v.id}"></input>
                                </div>
                            </div>                                                      
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车辆状态</label>
                                <div class="col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="radio" value="0" <if condition="!$v['state']">checked=""</if> name="state">正常</label>
                                    <label class="checkbox-inline">
                                        <input type="radio"  value="1" <if condition="$v['state']">checked=""</if> name="state">预占</label>
                                </div>
                            </div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">预占时间</label>
                                <div class="col-sm-4">
                                    <input placeholder="开始日期" name="st" class="form-control layer-date" id="start">
                                    <input placeholder="结束日期" name="et" class="form-control layer-date" id="end">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
	<script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script>
        var start={elem:"#start",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){end.min=datas;end.start=datas}};
		var end={elem:"#end",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){start.max=datas}};
		laydate(start);
		laydate(end);
    </script>
    <script>
    $("#name").change(function(){
        txt=$("#name").val();
        $.post("{:U('Hr/getel')}",{name:txt},function(result){
            $("#tel").val(result);
        });
    });
    </script>
</body>
</html>
