<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加消费审批</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/css/diy.css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$action}消费审批</h5> 
                        <div class="gohome">
                        <a class="animated bounceInUp" href="{:U('Hr/xiaofei')}" title="返回"><i class="fa fa-mail-reply-all"></i></a>
                        </div>                 
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:U('Hr/runaddx')}" class="form-horizontal">
                            <if condition="$action eq '修改'">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">员工信息</label>
                                <div class="col-sm-4">
                                    <div class='input-group'>
                                    <input type="hidden" name="pid" value="{$v.pid}">
                                    <input type="text" class="form-control bingp" name="name" readonly="readonly" value="{$v.name}">
                                    <input type="text" class="form-control bingp" name="ks" readonly="readonly" value='<switch name="v.ks">
                                        <case value="0">司机</case>
                                        <case value="1">业务部</case>
                                        <case value="2">办公室</case>
                                        <case value="3">财务部</case>
                                        <case value="4">机务部</case>
                                        <case value="5">安全部</case>
                                        </switch>'>
                                    <input type="text" class="form-control bingp" name="tel" readonly="readonly" value="{$v.tel}">
                                    </div>                          
                                                                   
                                </div>
                            </div>
                            <else />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">员工姓名</label>
                                <div class="col-sm-4">                                
                                    <input type="text" class="form-control" name="name" id="name" value="{$v.name}">                          
                                    <span class="help-block m-b-none">输入员工姓名，选择员工栏自动加载该员工</span>                                
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择员工</label>
                                <div class="col-sm-4" id="yg">
                                    
                                </div>
                            </div> 
                            </if>                           
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">审批标题</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="title" value="{$v.title}">
                                </div>
                            </div>                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">金额</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="money" value="{$v.money}">
                                        <span class="input-group-addon">元</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">审批时间</label>
                                <div class="col-sm-4">                                
                                    <input type="text" class="form-control" name="time" id="time" value="{$v.time|default=time()|date='Y-m-d',###}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注说明</label>

                                <div class="col-sm-4">
                                    <textarea class="textarea" name="mark">{$v.mark}</textarea>
                                    <input type="hidden" name="id" value="{$v.id}"></input>
                                </div>
                            </div>                                                           
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script>
    $("#name").change(function(){
        txt=$("#name").val();
        $.post("{:U('Hr/getp')}",{name:txt},function(res){
            if(res){
                $.each(res,function(idx,obj){
                    $("#yg").append("<div class='input-group'><span class='input-group-addon'><input type='radio' name='pid' value='"+obj.id+"'> </span><input type='text' class='form-control bingp' readonly='readonly' value='"+obj.name+"' ><input type='text' class='form-control bingp' readonly='readonly' value='"+obj.bm+"' ><input type='text' class='form-control bingp' readonly='readonly' value='"+obj.tel+"' ></div>");
            　　});
            }else{
            $("#yg").append("未查询到该员工，请确保员工表中有此人！");
            }
        });
    });
    laydate({elem:"#time",event:"focus"});
    </script>
</body>
</html>
