<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加人员</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/css/diy.css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$action}人员</h5> 
                        <div class="gohome">
                        <a class="animated bounceInUp" href="{:U('Hr/people')}" title="返回"><i class="fa fa-mail-reply-all"></i></a>
                        </div>                 
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:U('Hr/runadd')}" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>

                                <div class="col-sm-4">
                                    <input type="text" name="name" class="form-control" value="{$v.name}">
                                </div>
                            </div>                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">部门</label>
                                <div class="col-sm-4">
                                <select class="form-control m-b" name="ks">
                                    <option <if condition="$v['ks'] eq 0">selected</if> value="0">司机</option>                                    
                                    <option value="1" <if condition="$v['ks'] eq 1">selected</if>>业务部</option>                                    
                                    <option value="2" <if condition="$v['ks'] eq 2">selected</if>>办公室</option>                                    
                                    <option value="3" <if condition="$v['ks'] eq 3">selected</if>>财务部</option>                                    
                                    <option value="4" <if condition="$v['ks'] eq 4">selected</if>>机务部</option>                                    
                                    <option value="5" <if condition="$v['ks'] eq 5">selected</if>>安全部</option>                                    
                                </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">生日</label>
                                <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="brithday" id="brithday" value="{$v.brithday|default=time()|date='Y-m-d',###}">
                                    <span class="input-group-addon">年/月/日</span>
                                </div></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号</label>

                                <div class="col-sm-4">
                                    <input type="text" name="card" class="form-control" value="{$v.card}">
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-4">
                                    <input type="text" name="tel" class="form-control" value="{$v.tel}">
                                </div>
                            </div>                         
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系地址</label>

                                <div class="col-sm-4">
                                   <input type="text" name="adress" class="form-control" value="{$v.adress}">
                                    <input type="hidden" name="id" value="{$v.id}"></input>
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入职时间</label>
                                <div class="col-sm-4">                                
                                    <input type="text" class="form-control" name="time" id="time" value="{$v.time|default=time()|date='Y-m-d',###}">
                                </div>
                            </div>                           
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script>
        laydate({elem:"#brithday",event:"focus"});
        laydate({elem:"#time",event:"focus"});
    </script>
	<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
</body>
</html>