<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单详情</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/css/diy.css" />
    <link href="__PUBLIC__/css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$orders.ordernum}订单详情</h5> 
                        <div class="gohome">
                        <a class="animated bounceInUp" href="{:U('Orders/index')}" title="返回"><i class="fa fa-mail-reply-all"></i></a>
                        </div>                 
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:U('Orders/runedit')}" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户头像</label>
                                <div class="col-sm-4">
                                    <img width="60" class="img-circle" src="{$orders.photo}" />
                                </div>
                                <label class="col-sm-2 control-label">用户昵称</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{$orders.nickname}</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户姓名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="uname" value="{$orders.uname}">
                                </div>
                                <label class="col-sm-2 control-label">联系电话</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="utel" value="{$orders.utel}">
                                </div>
                            </div>                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户类型</label>
                                <div class="col-sm-1">
                                    <p class="form-control-static"><if condition="$orders['utype'] eq 1">团体<elseif condition="$orders['utype'] eq 2" />旅行社<else />个人</if></p>
                                </div>
                                <label class="col-sm-2 control-label">公司名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="gname" value="{$orders.gname}">
                                </div>                                
                                <label class="col-sm-2 control-label">订购车型</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static">{$orders.title}</p>
                                    <input type="hidden" name="cid" value="{$orders.cid}"></input>
                                    <input type="hidden" name="zt" value="{$orders.zt}"></input>
                                </div>
                            </div>                         
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">接车地址</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{$orders.sdr}</p>
                                </div>
                                <label class="col-sm-2 control-label">出发日期</label>
                                <div class="col-sm-4">
                                <input class="form-control layer-date" name="stime" id="start" value="{$orders.stime|date='Y-m-d H:i:s',###}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目的地</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{$orders.edr}</p>
                                </div>
                                <label class="col-sm-2 control-label">返程日期</label>
                                <div class="col-sm-4">
                                <input  class="form-control layer-date" name="dtime" id="end" value="{$orders.dtime|date='Y-m-d H:i:s',###}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">预算里程</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                    <input type="text" class="form-control" name="gl" value="{$orders.gl}">
                                    <span class="input-group-addon">公里</span>
                                    </div>                                    
                                </div>
                                <label class="col-sm-2 control-label">订单状态</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">
                                    <switch name="orders.zt">
                                        <case value="-2">已退款，付款时间：{$orders.paytime|date='Y-m-d H:i',###},退款时间：{$orders.backtime|date='Y-m-d H:i',###}</case>
                                        <case value="-1">申请退款，付款时间：{$orders.paytime|date='Y-m-d H:i',###},申请退款时间：{$orders.backtime|date='Y-m-d H:i',###}</case>
                                        <case value="0">待付款</case>
                                        <case value="1">已付款，付款时间：{$orders.paytime|date='Y-m-d H:i',###}</case>
                                        <case value="3">已完成，付款时间：{$orders.paytime|date='Y-m-d H:i',###}</case>
                                    </switch>
                                    <if condition="$orders['refund_no']">退款单号：{$orders.refund_no}</if>
                                    </p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订购数量</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                    <input type="text" class="form-control" name="num" value="{$orders.num}">
                                    <span class="input-group-addon">辆</span>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">订单金额</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                    <input type="text" class="form-control" name="money" value="{$orders.money}">
                                    <span class="input-group-addon">元</span>
                                    </div>                                    
                                </div>
                            </div>                                                 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">车程类型</label>
                                <div class="col-sm-2">
                                    <p class="form-control-static"><if condition="$orders['ora'] eq 1">单送<else />往返</if></p>                                  
                                </div>
                                <label class="col-sm-2 control-label">车辆配置</label>
                                <div class="col-sm-6">
                                    <div class="row">                                                                    
                                    <foreach name="carnum" item="v">
                                    <div class="form-group" id="s{$v.id}">                                    
                                    <div class="col-sm-3">
                                    <input type="text" class="form-control" name="car[{$v.id}]['carnum']" value="{$v.carnum}">
                                    </div>
                                    <div class="col-sm-2">
                                    <input type="text" class="form-control" name="car[{$v.id}]['driver']" value="{$v.driver}">
                                    </div>
                                    <div class="col-sm-4">
                                    <input type="text" class="form-control" name="car[{$v.id}]['tel']" value="{$v.tel}">
                                    </div>
                                    <if condition="$orders['zt'] eq 0 || $orders['zt'] eq 1">
                                    <div class="col-sm-2 btn btn-info" id="b{$v.id}" onclick="fuzhu({$v.id})">添加辅助司机</div>
                                    </if>
                                    </div>
                                    <if condition="$v['fuzhu']">
                                    <div class='form-group' id='f{$v.id}'>
                                    <div class='col-sm-2'><p class='form-control-static'>辅助司机:</p></div>
                                    <div class='col-sm-3'><input type='text' id="fuzhu{$v.id}" class='form-control' name="car[{$v.id}]['fuzhu']" value="{$v.fuzhu}"></div>
                                    <div class='col-sm-3'><input id="ftel{$v.id}" type='text' class='form-control' name="car[{$v.id}]['ftel']" value="{$v.ftel}"></div>
                                    <div class='col-sm-1 btn btn-info' onclick='qingk({$v.id})'>删除</div>
                                    </div>
                                    </if>
                                    </foreach>
                                    </div> 
                                    <span class="help-block m-b-none">系统默认无辅助司机，添加辅助司机需手动修改价格</span>                         
                                </div>                                
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">发票信息</label>
                                <div class="col-sm-4">
                                    <textarea class="textarea" name="fap">{$orders.fap}</textarea>                                   
                                </div>
                                <label class="col-sm-2 control-label">备注信息</label>
                                <div class="col-sm-4">
                                    <textarea class="textarea" name="mark">{$orders.mark}</textarea>                                   
                                </div>
                            </div>                                                      
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" class="form-control" name="id" value="{$orders.id}">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>                                
                                <div class="col-sm-4">
                                <if condition="$orders['zt'] eq 1">
                                    <input type="button" onclick="send()" class="btn btn-warning" value="下发短信通知"></input>
                                </if>
                                <if condition="!$orders['refund_no'] && $orders['zt'] eq -1">
                                    <a href="{:U('Orders/tk',array('dh'=>$orders['ordernum']))}" class="btn btn-warning" >同意退款</a>
                                </if>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/js/plugins/toastr/toastr.min.js"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script>
    laydate({elem:"#start",event:"focus",format:"YYYY-MM-DD hh:mm:ss",istime: true});
    laydate({elem:"#end",event:"focus",format:"YYYY-MM-DD hh:mm:ss",istime: true}); 
    $(function(){
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "progressBar": true,
          "positionClass": "toast-top-center",
          "onclick": null,
          "showDuration": "400",
          "hideDuration": "1000",
          "timeOut": "7000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
    });    
    function send(){
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:U('Orders/sendmail',array('dh'=>$orders['ordernum']))}" ,//url
            data: "",
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200){
                   toastr.success(result.str);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }
    function fuzhu(id){
        var html="<div class='form-group' id='f"+id+"'><div class='col-sm-2'><p class='form-control-static'>辅助司机:</p></div><div class='col-sm-3'><input type='text' class='form-control' name='car["+id+"]['fuzhu']'></div><div class='col-sm-3'><input type='text' class='form-control' name='car["+id+"]['ftel']'></div><div class='col-sm-1 btn btn-info' onclick='del("+id+")'>删除</div></div>";
        $("#s"+id).after(html);
        $("#b"+id).remove();
    }
    function del(id){
        $("#f"+id).remove();
    }
    function qingk(id){
        $("#fuzhu"+id).val("");      
        $("#ftel"+id).val(""); 
        $("#f"+id).css('display','none');
    }
    </script>
</body>
</html>