<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加设备</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/css/diy.css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$action}设备</h5> 
                        <div class="gohome">
                        <a class="animated bounceInUp" href="{:U('Outfit/index')}" title="返回"><i class="fa fa-mail-reply-all"></i></a>
                        </div>                 
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{:U('Outfit/runadd')}" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">设备名称</label>
                                <div class="col-sm-4">                                
                                    <input type="text" class="form-control" name="name" value="{$v.name}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">购入单价</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="jia" value="{$v.jia}">
                                        <span class="input-group-addon">元</span>  
                                    </div>
                                </div>                                
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">购入数量</label>
                                <div class="col-sm-4" >
                                    <input type="text" class="form-control" name="num" value="{$v.num}">
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">购入日期</label>
                                <div class="col-sm-4">                                
                                    <input type="text" class="form-control" name="time" id="time" value="{$v.time|default=time()|date='Y-m-d',###}">
                                </div>
                            </div>                                                      
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">过期日期</label>
                                <div class="col-sm-4">
                                   <input type="text" class="form-control" name="dtime" id="dtime" <if condition="$v['dtime']">value="{$v.dtime|date='Y-m-d',###}"</if>>
                                   <span class="help-block m-b-none">留空表示永不过期</span>
                                   <input type="hidden" name="id" value="{$v.id}"></input>
                                </div>
                            </div>                                                                                    
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/js/plugins/layer/laydate/laydate.js"></script>
    <script>
    laydate({elem:"#time",event:"focus"});
    laydate({elem:"#dtime",event:"focus"});
    </script>
</body>
</html>