<include file="public/header" />
<include file="public/top" />
<div class="main">
<div class="menu"><h3>资讯中心</h3><p>Information center</p></div>
    <ul class="news">
    <foreach name="article" item="v">
    <li><span class="time">{$v.time|date='Y-m-d',###}</span><a href="{:U('/'.MODULE_NAME.'/ashow_'.$v['id'])}" title="{$v.title}">{$v.title}</a></li>
    </foreach>
	</ul>
    <div class="clear"></div>
    <div class="pages">{$page}</div>
</div>

<!--end main-->
<include file="public/bottom" />
</body>
</html>