<include file="public/header" />
<include file="public/top" />
<div class="main">
	<!--文章内容-->
	<div class="m_ctt">
		<div class="newsshow_title">{$title}</div>
		<div class="newsshow_sm">编辑：{$author}  |  日期：{$time|date='Y-m-d',###}  |  人气：<script type="text/javascript" src="{:U(MODULE_NAME.'/Article/getclick',array('id'=>$sid))}"></script></div>
		<div class="newsshow_ctt">
			{$content}
		</div>
		<div class="page">
			<div>{$prev}</div>
			<div>{$next}</div>
		</div>
	</div>
	<!--文章内容 end-->
	<div class="clear"></div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>