<include file="public/header" />
<include file="public/top" />
<div class="main">
    <ul class="crub">
		<li>当前位置:</li>
		<li><a href='/index.php'>首页</a></li><crumb id="$cid"/>
    </ul>
    <div class="right">
        <div class="jgszcon">
            <h2><em class="span"><if condition='cid lt 8'>{$name}<else />{$fname}</if></em></h2>
            <!--一级栏目end-->
            <div class="jgsz">

                <ul class="navitems">
				<if condition='cid lt 8'>
                    <!--子栏目循环start-->
                    <fav id="$cid">
                    <li class="navlist" <if condition="$cid eq $id">id="active"</if>>
                        <a href="{$url}" class="navtitle">{$name}</a>
                    </li> 
                    </fav>
				<else />
					<fav id="$fid">
                    <li class="navlist" <if condition="$cid eq $id">id="active"</if>>
                        <a href="{$url}" class="navtitle">{$name}</a>
                    </li> 
                    </fav> 
				</if>
                    <!--end 子栏目列表-->
                </ul>                
            </div> 
            <!--end jgsz-->   
        </div>
        <!--end jgszcon-->
    </div>
    <!--end right-->
 <div class="left">
    <div class="readcon">
        <div class="title">{$title}</div>
		<i><span>发布日期:{$time|date='Y/m/d H:i:s',###}</span><span>已浏览:<script type="text/javascript" src="{:U(MODULE_NAME.'/Article/getclick',array('id'=>$sid))}"></script></span></i>
        <div class="content">
		  <div class="flexslider">
            <ul class="slides">
			<foreach name="img" item="v">
              <li>
                <div class="image"><img src="{$v.img}"></div>
              </li>
            </foreach>
             </ul>
          </div>
           {$content}
           <p><br /><br /></p> 
        <p>{$prev}</p>
        <p>{$next}</p>
        </div>
        <!--end content-->
    </div>
</div>
<div class="clear"></div>
<!--left end -->
</div>
<!--end main-->
<include file="public/bottom" />
<script type="text/javascript" src="__PUBLIC__/js/flexslider.js"></script>
</body>
</html>