<include file="public/header" /><script src="/js/owl.carousel.min.js"></script>
<script>
$(function(){
	$('#dowebok').owlCarousel({
		items: 4,
		navigation: true,
		navigationText: ["",""],
		scrollPerPage: true
	});
});
</script>
<style type="text/css">
.dtyj_q1{text-align:center;}
label{display:inline-block;padding:0 5px;}
</style>
<include file="public/top" />
<!--展示位-->

<div class="dtyj_main">
<div class="dtyj_topimg"></div>
<form class="basic-grey" role="form" action="{:U(MODULE_NAME.'/voteDo','','')}" method="post">
<foreach name='vote' item='v'>
	<if condition="$v['ismore'] eq 0">
		<div class="dtyj_q1">
		<div class="dtyj_q1img"></div>
		<div class="dtyj_qtext">{$v.question}</div>
		<foreach name='v.ans' item='a'>
		<label><input type="radio" name="radio[{$v.id}][]" value="{$a.id}" />{$a.answer}</label>
		</foreach>
		</div>
	</if>
	<if condition="$v['ismore'] eq 1">
		<div class="dtyj_q1">
		<div class="dtyj_q1img"></div>
		<div class="dtyj_qtext">{$v.question}</div>
		<foreach name='v.ans' item='a'>
		<label><input type="checkbox" name="radio[{$v.id}][]" value="{$a.id}" />{$a.answer}</label>
		</foreach>
		</div>
	</if>
	<if condition="$v['ismore'] eq 2">
		<div class="dtyj_phone"><P>手机号码：</P><input class="phone_nb" name="text[{$v.id}]" type="text" value="输入手机号码收取获奖信息" />
		<input type="hidden" name="cid" value="{$cid}" >
		<input class="phone_sub"  name="" type="submit" value="提交答案" />
		</div>
	</if>
</foreach>
</form>
</div>

<include file="public/bottom" />
</body>
</html>