<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="欢迎登录和注册魅族Flyme账户，您可以体验手机云服务功能，包括：在线下载应用，同步手机数据和查找手机等，让您的手机管理更加智能。" />
	<meta name="keywords" content="魅族  meizu 登录flyme 云服务  查找手机  充值账户  MX M9 MX2" />
	<meta content="width=1080" name="viewport"/>
	<title>找回登录密码</title>
	<link href="__PUBLIC__/member/css/mimazh.css" type="text/css" rel="Stylesheet"/>
	<script type="text/javascript" src="__PUBLIC__/member/js/jquery.js"></script>
</head>
<body>
	<div id='content' class="content">
		


<div class=ucSimpleHeader id="header">
	<a href="/" class='meizuLogo'><i class='i_icon'></i></a>
	<div id="trigger">
		<a href="/index.php/member/index" id="toLogin" class='linkAGray'>登录</a>
		<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		<a href="/index.php/member/reg" id="toRegister" class='linkAGray'>注册</a>
    </div>
</div>
		<div class='title1'><i class='i_icon'></i></div>
		<div class='flow'><i class='i_icon4'></i></div>
		<div class='middle'>
			<if condition="$yan">
			<h3>您的密码已成功修改！</h3>
			<else />
			<h3>由于意外原因您的密码未能重置，请您稍后重试，或者直接链接网站管理员反馈此问题！</h3>
			</if>
			<div id="cycode-container" class="cycode-container"></div>

				
		</div>
	</div>	
	




<div id='flymeFooter' class='footerWrap'>
	<div class='footerInner'>
		<div class='footer-layer1'>
			<div class='footer-innerLink'>
				<a href="#" target="_blank" title="关于我们">关于我们</a>
				<img class="foot-line" src="__PUBLIC__/member/images/space.gif">
				<a href="#" target="_blank" title="联系我们">联系我们</a>
				<img class="foot-line" src="__PUBLIC__/member/images/space.gif">
				<a href="#" target="_blank" title="法律声明">法律声明</a>
			</div>
			<div class='footer-service'>
				<span class='service-label'>客服热线</span>
				<span class='service-num'>400-6688-605</span>
				<a id='service-online' class='service-online' href="javascript:void(0);" title="在线客服">在线客服</a>
			</div>
			<div class='footer-outerLink'>
				<!--<a class='footer-sinaMblog' href="http://weibo.com/meizumobile" target="_blank"><i class='i_icon'></i></a>
				<a class='footer-tencentMblog' href="http://t.qq.com/meizu_tech" target="_blank"><i class='i_icon'></i></a>
				<a id='footer-weChat' class='footer-weChat' href="javascript:void(0);" target="_blank"><i class='i_icon'></i></a>
				<a class='footer-qzone' href="http://user.qzone.qq.com/QQ号码" target="_blank"><i class='i_icon'></i></a>-->
			</div>
		</div>
		<div class='clear'></div>
		<div id='flymeCopyright' class="copyrightWrap">
			<div class="copyrightInner">
				<span><com name="corpy" /></span>
			</div>
		</div>
	</div>
</div>
<div id="wechatPic"></div>
	</body>
</html>