<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>会员登录</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="__PUBLIC__/member/images/favicon.ico" />
<link href="__PUBLIC__/member/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/member/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/member/js/jquery.i18n.properties-1.0.9.js" ></script>
<script type="text/javascript" src="__PUBLIC__/member/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="__PUBLIC__/member/js/jquery.validate.js"></script>
<script type="text/javascript">
	var verifyUrl = '{:U(MODULE_NAME.'/Member/verify','','')}';
</script>
<script type="text/javascript" src="__PUBLIC__/member/js/page_login.js"></script>

<!--[if IE]>
  <script src="__PUBLIC__/member/js/html5.js"></script>
<![endif]-->
<!--[if lte IE 6]>
	<script src="__PUBLIC__/member/js/DD_belatedPNG_0.0.8a-min.js" language="javascript"></script>
	<script>
	  DD_belatedPNG.fix('div,li,a,h3,span,img,.png_bg,ul,input,dd,dt');
	</script>
<![endif]-->
</head>
<body class="loginbody">
<div class="dataEye">
	<div class="loginbox">
		<div class="logo-a">
			<a href="#" title="">
				<img src="__PUBLIC__/member/images/logo.png">
			</a>
		</div>
		<div class="login-content">
			<div class="loginbox-title">
				<h3>登录</h3>
			</div>
			<form id="signupForm" action="{:U(MODULE_NAME.'/Member/login','','')}" method="post">
			<div class="login-error"></div>
			<div class="row">
				<label class="field">用户名</label>
				<input type="text" class="input-text-user input-click" name="email" id="email">
			</div>
			<div class="row">
				<label class="field">密码</label>
				<input type="password" class="input-text-password input-click" name="password" id="password">
			</div>
			<div class="row">
				<label class="field">验证码</label>
				<input type="text" class="input-text-codet input-click" name="codet" id="codet"><img src="{:U(MODULE_NAME.'/Member/verify','','')}" id="code"/><a href="javascript:void(change_code(this));">更换</a>
			</div>
			<div class="row btnArea">
				<input type="submit" class="login-btn" id="submit" value="登录">
			</div>
			<div class="row tips">
				<a href="{:U(MODULE_NAME.'/Member/forget','','')}" class="link">忘记密码</a>
			</div>
			</form>
		</div>
		<div class="go-regist">
			还没有账号？请
			<a href="{:U(MODULE_NAME.'/Member/reg','','')}">立即注册</a>
		</div>
	</div>
	
<div id="footer">
	<div class="dblock">
		<div class="inline-block"><img src="__PUBLIC__/member/images/logo-gray.png"></div>
		<div class="inline-block copyright">
			<p>Copyright © 2016 大鹏网络</p>
		</div>
	</div>
</div>
</div>
</body>
</html>