<include file="public/header" />
<div class="userbox">
	<div class="userimg"><img class="photo" src="{$Think.session.userHeadimgurl}" /><p><img src="__PUBLIC__/images/icon-user-level.png"><if condition="session('name')">Vip用户<else />普通用户</if></p>
	<h3>{$Think.session.userNickname}</h3>
	</div>
</div>
<div class="main">
   	<p class="udline">我的订单</p>
    <!-- Tab切换 S -->
	<div class="slideTxtBox">
		<div class="hd">
			<ul>
				<li><a href="#">待付款</a></li>
				<li><a href="#">已付款</a></li>
				<li><a href="#">已完成</a></li>
			</ul>
		</div>
		<div class="bd">
			<ul>
			<foreach name="dfk" item="v">
				<div class="dd">
				<p><strong>预定车型：{$v.title}</strong>预定数量：{$v.num}X辆</p>
				<p>车型描述：{$v.des}</p>
				<p><span>车程类型：<if condition="$v[ora] eq 1">单程<else />双程</if></span>下单时间：{$v.ordtime|date='Y-m-d H:i',###}</p>
				<p>目的地：{$v.edr}</p>
				<p><strong>合计：{$v.money}元</strong>
				<a class="qx" href="{:U('Weixinpay/del',array('id'=>$v['id']))}">取消订单</a>
				<if condition="time()-$v['ordtime'] gt 4*60*60">
				<a class="zf" href="javascript:;">订单已超时</a>
				<else />
				<a class="zf" href="{:U('Weixinpay/index',array('id'=>$v['ordernum']))}">去支付</a>
				</if>
				</p>
				<p class="clear"></p>				
				</div>
			</foreach>
			</ul>
			<ul>
			<foreach name="yzf" item="y">
				<div class="dd">
				<p><strong>预定车型：{$y.title}</strong>预定数量：{$y.num}X辆</p>
				<p>车型描述：{$y.des}</p>
				<p><span>车程类型：<if condition="$y[ora] eq 1">单程<else />双程</if></span>下单时间：{$y.ordtime|date='Y-m-d H:i',###}</p>
				<p>目的地：{$y.edr}</p>
				<p><strong>合计：{$y.money}元</strong>
				<if condition="$y['zt'] eq -1">
				<a class="qx" href="javascript:;">申请退款中</a>
				<a class="zf" href="{:U('Weixinpay/qxsq',array('id'=>$y['id']))}">取消申请</a>
				<else />
				<a class="qx" <if condition="($y['stime']-time()) elt 86400*2">onclick="return confirm('离出发日期少于2天，需扣除10%手续费，确定继续退款？')"</if> href="{:U('Weixinpay/sq',array('id'=>$y['id']))}">取消订单</a>
				</if>
				</p><p class="clear"></p>				
				</div>
			</foreach>
			</ul>
			<ul>
			<foreach name="ywc" item="c">
				<div class="dd">
				<p><strong>预定车型：{$c.title}</strong>预定数量：{$c.num}X辆</p>
				<p>车型描述：{$c.des}</p>
				<p><span>车程类型：<if condition="$c[ora] eq 1">单程<else />双程</if></span>下单时间：{$c.ordtime|date='Y-m-d H:i',###}</p>
				<p>目的地：{$c.edr}</p>
				<p><strong>合计：{$c.money}元</strong><a class="qx" href="javascript:;"><if condition="$c['zt'] eq 3">已完成<else />已退款</if></a>
				</p><p class="clear"></p>				
				</div>
			</foreach>
			</ul>
		</div>
	</div>
	<script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
	<!-- Tab切换 E -->
<div class="clear"></div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>