<include file="public/header" />
<include file="public/top" />
<if condition='$cid eq 9'>
<script type="text/javascript">
window.onload = function(){
	window.location.href='/index.php/Index/info_17.html';
	}
</script>
</if>
<if condition='$cid eq 11'>
<script type="text/javascript">
window.onload = function(){
	window.location.href='/index.php/Index/info_26.html';
	}
</script>
</if>
<if condition='$cid eq 13'>
<script type="text/javascript">
window.onload = function(){
	window.location.href='/index.php/Index/info_32.html';
	}
</script>
</if>
<div class="main">
    <ul class="crub">
		<li>当前位置:</li>
		<li><a href='/index.php'>首页</a></li><crumb id="$cid"/>
    </ul>
<include file="public/left" />
	<div class="ld-right">
		<div class="readcon">
			<div class="title">{$title}</div>
			<i>&nbsp;</i>
			<div class="content">
			{$content}
			</div>
			<!--end content-->
		</div>
	</div>
	<!--end right-->
	<div class="clear"></div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>
