<include file="public/header" />
<link rel="stylesheet" href="__PUBLIC__/css/pickout.css">
<!-- banner -->
<div id="focus" class="focus">
	<div class="bd">
		<ul>			
			<foreach name="data['pics']" item="v">
			<li><a class="pic" href="javascript:;"><img src="{$v}"/></a></li>
			</foreach>
		</ul>
	</div>
	<div class="hd">
		<ul></ul>
	</div>
</div>
<script type="text/javascript">
	TouchSlide({ 
		slideCell:"#focus",
		titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		mainCell:".bd ul", 
		effect:"leftLoop", 
		autoPlay:true,//自动播放
		autoPage:true, //自动分页
		switchLoad:"_src" //切换加载，真实图片路径为"_src" 
	});
</script>
<!-- banner end-->
<div class="main">
	<h3>{$data.title}</h3>
	<p>车型：{$data.classname}</p>
	<p class="udline"><b>车辆详情</b></p>
	<div class="newsshow_ctt">
		{$data.content}
	</div>
</div>
<!--end main-->
<div class="cd-bouncy-nav-modal">
	<nav>
		<ul class="cd-bouncy-nav">
			<li><a href="#">首页</a></li>
			<li><a href="#s">jQuery</a></li>
			<li><a href="#">PHP</a></li>
			<li><a href="#">模板</a></li>
			<li><a href="#">网址</a></li>
			<li><a href="#">工具</a></li>
		</ul>
	</nav>
	<a href="#0" class="cd-close">Close modal</a>
</div>
<div class="h75"></div>
<!--footer-->
<footer>
	<div class="bottom3">
		<a class="sy" href="{:U('Index/index')}"><em><img src="__PUBLIC__/images/home.png"></em>返回首页</a>
		<div class="xd cd-bouncy-nav-trigger">立即下单预定此车型</div>
	</div>
</footer>
<script src="__PUBLIC__/js/pickout.js"></script>
</body>
</html>