<include file="public/header" />
<include file="public/top" />
<div class="main">
    <ul class="crub">
		<li>当前位置:</li>
		<li><a href='/index.php'>首页</a></li><crumb id="$cid"/>
    </ul>
<include file="public/left" />
    <!--end right-->
 <div class="ld-right">
    <div class="lanm">
        <h2>{$title}</h2>
		<div class="samy">产品系列:<foreach name="clas" item="v"><a href="{:U('',array('id'=>$cid,'clas'=>$v['id']))}">{$v.classname}</a></foreach></div>
	
            <ul class="pic">
            <foreach name="goods" item="v">
            <li><a href="{:U('/'.MODULE_NAME.'/details_'.$v['id'])}" title="{$v.title}" target="_blank">
			<if condition='$v[pic]'><img src="{$v.pic}" title="{$v.title}"><else /><img src="__PUBLIC__/images/nopic.jpg"></if>
            <p>{$v.title}</p></a>
			<span class="zjzc"><strong>品牌:</strong>{$v.brand}&nbsp;&nbsp;<strong>价格:</strong>{$v.price}元</span>
			</li>
            </foreach>
            <div class="clear"></div>
    		</ul>
        <div class="page">{$page}</div>
    </div>
</div>
<div class="clear"></div>
<!--left end -->
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>