<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>支付中心</title>
</head>
<body style=" display:flex; justify-content: center; align-items: center;">
<button style="padding:10px;text-align:center;color:#fff;background:#5BB040;" onclick="getOrder()">前往付款</button>

<jquery />
<script>
function onBridgeReady(){
    var data={$data};
    WeixinJSBridge.invoke(
        'getBrandWCPayRequest', data,
        function(res){
            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
				window.location.href='/index.php/Index/member/index';
            }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
				window.location.href='/index.php/Index/member/index';
			}else{
                alert("订单提交次数太多，请删除订单重拍！"); // 显示错误信息
				window.location.href='/index.php/Index/member/index';
            }
        }
    );
}
 if (typeof WeixinJSBridge == "undefined"){
     if( document.addEventListener ){
         document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
     }else if (document.attachEvent){
         document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
         document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
     }
 }else{
      onBridgeReady();
 }
</script>
</body>
</html>