<include file="public/header" />
<if condition='$cid eq 1'>
<script type="text/javascript">
window.onload = function(){
	window.location.href='/index.php/Wap/info_9.html';
	}
</script>
</if>
<!-- content -->
<div class="m_ctr">
	<include file="public/left" />
	
	<!--公司简介-->
	<div class="m_ctt">
		<div class="newsshow_title">{$title}</div>
		<div class="newsshow_sm2"> </div>
		<div class="newsshow_ctt">
			{$content}
		</div>
	</div>
	<!--公司简介 end-->
 </div>
 <!-- content end -->
<include file="public/bottom" />
</body>
</html>
