<include file="public/header" />
{:W('bann/banner')}
<div class="gsjj">
	<div class="menu"><h3>公司简介</h3><p>About us</p></div>
	<img src="__PUBLIC__/images/jj.jpg">
	<com name="content" />
	<div class="clear"></div>
</div>
<div class="proudct">
	<div class="menu"><h3>产品推荐</h3><p>Product recommendations</p></div>
	<ul>
	<pist img='1' tj='1' limit='4' order='id desc'>
	<li><a href="{$url}"><div><img <if condition="strstr($pics,'|')" >src="{:substr($pics,0,strpos($pics, '|'))}" <else />src="{$pics}"</if>></div><p>{$title}</p></a></li>
	</pist>
	</ul>
</div>
<include file="public/bottom" />
</body>
</html>