<include file="public/header" />
<!-- content -->
<div class="m_ctr">
	<include file="public/left" />

	<!--图片矩阵-->
	<div class="cpzs_content inner_pic">
		<foreach name="article" item="v">
		<li><a href="{:U('/'.MODULE_NAME.'/pshow_'.$v['id'])}">
		<if condition='$v[pic]'><img src="{$v.pic}" title="{$v.title}"><else /><img src="__PUBLIC__/images/nopic.jpg" ></if>
		<span>{$v.title}</span></a></li>
		</foreach>
		<div class="clear"></div>
	</div>
	<script language="javascript">
		var width=$(".cpzs_content li img").width();
		var height=width/4*3;
		$(".cpzs_content li img").height(height);
	</script>
	<div class="pages" style="width:96%;margin-left:2%;margin-top:5px;">{$page}</div>
	<div class="clear" style="height:5px;"></div>
	<!--图片矩阵 end-->
</div>
 <!-- content end -->
<include file="public/bottom" />
</body>
</html>