<include file="public/header" />
<include file="public/left" />
<div class="wrapper page">

	<div class="samy">产品系列:<foreach name="clas" item="v"><a href="{:U('',array('id'=>$cid,'clas'=>$v['id']))}">{$v.classname}</a></foreach></div>
	<ul class="list-unstyled limit_page">
	<foreach name="goods" item="v">
	<li><a href="{:U('/'.MODULE_NAME.'/details_'.$v['id'])}" title="{$v.title}" target="_blank">
	<if condition='$v[pic]'><img src="{$v.pic}" title="{$v.title}"><else /><img src="__PUBLIC__/images/nopic.jpg"></if>
	<p>{$v.title}</p></a>
	<span class="zjzc"><strong>品牌:</strong>{$v.brand}&nbsp;&nbsp;<strong>价格:</strong>{$v.price}元</span>
	</li>
	</foreach>
	<div class="clear"></div>
	</ul>

<div class="clear"></div>
<div id="pager" class="panel panel-default">
<!--分页-->
             
        <ul id="yw0" class="yiiPager">{$page}</ul>
    <!--翻页End-->
</div>
<div style="height:50px;"></div>
</div><!--wrapper End-->
<include file="public/bottom" />
</body>
</html>